<div class="main">
   <div class="left-container">
    <div class="img-container">

    </div>
    <div class="button-container">
        <mat-icon>keyboard_arrow_right</mat-icon>
    </div>
   </div>
   <div class="right-container">
    <div class="right-content-container">
        <div class="top-container">
            <div class="rating-container">
                <div class="star-container">
                    <mat-icon>star</mat-icon>
                </div>
                <div class="star-container">
                    <mat-icon>star</mat-icon>
                </div>
                <div class="star-container">
                    <mat-icon>star</mat-icon>
                </div> <div class="star-container">
                    <mat-icon>star</mat-icon>
                </div> <div class="star-container">
                    <mat-icon>star</mat-icon>
                </div>
            </div>
            <div class="description-container">
                <div class="title-container">
                    Scrie o descriere pentru azi 
                </div>
                <div class="description">

                </div>
            </div>
        </div>
        <div class="bottom-container">

        </div>
    </div>
   
   </div>
</div>