.main{
    width: 98%;
    height: 98%;
   
    display: flex;
    .left-container{
        
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        .img-container{
           
            border: 2px solid  #dfe3e6;

            width: 65%;
            height: 80%;
        }
        .button-container{
            width: 7%;
            height: 14%;
            display: flex;
            align-items: center;
            justify-content: center;
            mat-icon{
                transform: scale(5);
                cursor: pointer;
                transition: all 1s ease;
            }
            mat-icon:hover{
                transform: scale(5.8);
            }
            
        }
    }
    .right-container{
        
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .right-content-container{
           
            width: 80%;
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5%;
            .top-container{

                width: 90%;
                height: 75%;
                display: flex;
                flex-direction: column;
                gap: 20%;
                .rating-container{

                    width: 100%;
                    height: 20%;
                    display: flex;
                    gap: 2%;
                    align-items: center;
                    justify-content: center;
                    .star-container{
                        width: 18%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        mat-icon{
                            transform: scale(3);
                            color: rgb(184, 125, 0);
                            cursor: pointer;
                            transition: all 0.5s ease;
                        }
                        mat-icon:hover{
                            transform: scale(3.6);
                        }
                    }
                }
                .description-container{

                    width: 100%;
                    height: 60%;
                    display: flex;
                    flex-direction: column;
                    gap: 10%;
                    .title-container{
                        width: 100%;
                        height: 10%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .description{
                        border: 2px solid  #dfe3e6;
                        width: 100%;
                        height: 80%;
                    }
                }
            }
            .bottom-container{
            border: 2px solid  #dfe3e6;

                width: 100%;
                height: 20%;
            }
        }
}}