

.main{
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    background-image: url("https://svgshare.com/i/p0M.svg");
    background-repeat: no-repeat;
    background-size:contain;
    .login-form{
        min-width: 300px;
        h1{
            color: #3f51b5;
            font-weight:800;
        }
    background-color: rgba(0,0,0,.09);

        display: flex;
        flex-direction: column;
        width: 20%;
        height: 50%;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 25px 0px;
    }
}