<div class="main-container">
    <div class="nav-bar-container"> 
        <div class="detail-container">
        <div class="photo-container"> <img [routerLink]="['/profile-settings']" id="profile-img"src="https://i.postimg.cc/26t6Qp9q/dummy-prod-1.jpg" alt="img"></div>
        <h2 id="details">Hello Dragos</h2> 
        <!-- route this to a page of acc settings  -->
        </div>
        <div class="logout-container"> <button mat-raised-button color="primary" type="button" (click)="logout()" >Logout</button></div>    
    </div>
    <div class="content-container"> <app-content></app-content>  </div>
    <div class="footer-container">
        <app-footer></app-footer>
    </div>
</div>