<div class="main-container">
    <div class="nav-bar-container"> 
        <div class="detail-container">
        <div class="photo-container"> <img id="profile-img"src="https://scontent-otp1-1.xx.fbcdn.net/v/t39.30808-6/318362669_5435382593236693_824820883101950424_n.jpg?stp=cp6_dst-jpg&_nc_cat=105&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=3rNzKir4QuAAX98uB9k&_nc_ht=scontent-otp1-1.xx&oh=00_AfDLfDdpUYgplKpaHoy66-nvNa27wCz-12mCuW4LwUsoEQ&oe=6397F4BC" alt=""></div>
        <h2 id="details">Hello Dragos</h2> 
        <!-- route this to a page of acc settings  -->
        </div>
        <div class="logout-container"> <button mat-raised-button color="primary" type="button">Logout</button></div>    
    </div>
    <div class="content-container"> <app-content></app-content>  </div>
    <div class="footer-container">
        <app-footer></app-footer>
    </div>
</div>