<div class="main-container">
    
    <div class="left-container">
        <div class="top-container">
            <img src="https://svgshare.com/i/ozu.svg" alt="avatar">
            <div class="name">Admin</div>
        </div>
        <div class="menu-container">
          <div class="menu">
            Menu
          </div>
          <div class="options ">
            <div class="settings-container option">
                Settings
            </div>
            <div class="appointment-container option">
                Appointments
            </div>
            <div class="logout-cointainer option "(click)="logout()">
                Logout
            </div>
          </div>
        </div>
    </div>
    <div class="right-container">
            <app-content>

            </app-content>
    </div>  
</div>