  <div class="main">
    <form class="login-form" [formGroup]="userFormRegister">
        <h1>Register</h1>
        <div class="top-side">
            <div class="left">
                <mat-form-field >
                    <mat-label>First Name</mat-label>
                    <input type="text" matInput formControlName="firstName"
                           placeholder="Matei">
                  </mat-form-field>
            </div>
            <div class="right">
                <mat-form-field >
                    <mat-label>Last Name</mat-label>
                    <input type="text" matInput formControlName="lastName"
                           placeholder="Dima">
                  </mat-form-field>
            </div>
        </div>
        <div class="middle-side">
            <div class="left">
                <mat-form-field >
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email"
                           placeholder="Matei@example.com">
                  </mat-form-field>
            </div>
            <div class="right">
                <mat-form-field >
                    <mat-label>Phone</mat-label>
                    <input type="phone" matInput formControlName="phone"
                           placeholder="076*******">
                  </mat-form-field>
            </div>
        </div>
        <div class="bottom-side">
            <div class="left">
                <mat-form-field >
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password"
                           placeholder="**********">
                  </mat-form-field>
            </div>
            <div class="right">
              <mat-form-field >
                <mat-label>Confirm Password</mat-label>
                <input type="password" matInput formControlName="passwordConfirmed"
                       placeholder="**********">
              </mat-form-field>
            </div>

        </div>
        
          <button mat-raised-button color="primary" type="button" (click)="register()">Register</button>
          <button mat-raised-button color="warn" routerLink="/login" >Login Page</button>
          
      </form>
    </div>