  <div class="main">
    <form class="login-form" [formGroup]="userFormRegister">
        <h1>Register</h1>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email"
                 placeholder="Ex. pat@example.com">
          <mat-hint>Errors appear instantly!</mat-hint>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password"
                   placeholder="Password">
          </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input type="password" matInput formControlName="passwordConfirmed"
                   placeholder="Password">
          </mat-form-field>
          <button mat-raised-button color="primary" type="button" (click)="register()">Register</button>
          <button mat-raised-button color="warn" routerLink="/login" >Login Page</button>
          
      </form>
    </div>