
.main{
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://svgshare.com/i/oyU.svg");
    background-repeat: no-repeat;
    background-color: white;

    background-size: contain;
    .login-form{
        min-width: 400px;
        min-height: 600px;
        h1{
            color: #3f51b5;
            font-weight:800;
        }
    background-color: rgba(0,0,0,.09);

        display: flex;
        flex-direction: column;
        width: 20%;
        height: 50%;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 25px 0px;
        
        .top-side{
            min-width: 90%;
            min-height: 20%;
            display: flex;
            justify-content: space-evenly;
            
        }
        .middle-side{
            min-width: 90%;
            min-height: 20%;
            display: flex;
            justify-content: space-evenly;
        }
        .bottom-side{
            display: flex;
            min-width: 90%;
            min-height: 20%;
            justify-content: space-evenly;

        }
        .left{
           width: 45%;
            mat-form-field{
                max-width: 85%;
            }
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .right{
            width: 45%;
            mat-form-field{
                max-width: 85%;
            }
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}